* {
    margin: 0px;
    padding: 0px;
    font-family: 'Geologica', sans-serif;
}
body {
    background: #000;
    color: #000;
}

.wrapper {
    background: linear-gradient(to right bottom,
    #3b3b3b, #141414, #000000);

    height: 80vh;
    display: block;
}

.shields {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.shields span{
    font-size: 3em;
    font-weight: bolder;
    text-transform: uppercase;
}
.shields img {
    width: 80px;
    height: 80px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0  / 0.3));
}

.shields img:hover {
    cursor: pointer;
    filter: none;
}